rect.svelte-1c53qnf{stroke:black}text.svelte-1c53qnf{fill:green}.disabled.svelte-1c53qnf{opacity:0.2}
line.svelte-4joz7f{stroke-width:10;stroke-linecap:butt;stroke:var(--theme-color)}path.svelte-4joz7f{stroke:var(--theme-color);fill:var(--theme-color)}.disabled.svelte-4joz7f{opacity:0.1}
svg.svelte-uxn8y2{width:100%;height:100%}
